<launch>
  <arg name="namespace" default="minimal"/>
  <arg name="model" default="$(find minimal)/urdf/minimal.xacro"/>

  <group ns="$(arg namespace)">
    <param name="robot_description"
           command="$(find xacro)/xacro $(arg model)"/>
    
    <node name="joint_state_publisher" pkg="joint_state_publisher"
          type="joint_state_publisher" ns="$(arg namespace)">
      <param name="rate" value="30"/>
      <param name="use_gui" value="false"/>
    </node>

    <node name="vehicle_state_publisher" pkg="robot_state_publisher"
          type="robot_state_publisher" ns="$(arg namespace)">
      <param name="publish_frequency" value="30.0"/>
    </node>
    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz"
          type="rviz" ns="$(arg namespace)"
          args="-d $(find minimal)/rviz/minimal.rviz"/>
  </group>
</launch>

<!--  LocalWords:  namespace xacro rviz
-->
